body {
    margin: 0;
    background-color: #F2F0F4;
    font-family: calibri;
}

.btn {
    font-size: 20px;
    width: 150px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 30px;
    text-decoration: none;
    margin-top: 30px;
    cursor: pointer;
    
}

.logo {
    font-family: calibri;
    font-size: 1.25rem;
    margin-left: 50px;
    color: #FF00BF
}

.header-container {
    border-bottom: 1px solid #e6e6e8;
    background-color: white;
    padding-top: 5px;
}

.container {
    width: 80vmin;
    height: 80vmin;
    margin: 0 auto;
    margin-top: 125px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-button {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

input {
    width: 500px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
}

.result-string {
    padding: 25px;
    margin: 25px;
}