body {
    margin: 0;
    background-color: #F2F0F4;
}

.logo {
    font-size: 1rem;
    margin-left: 50px;
    color: #FF00BF
}

.header-container {
    border-bottom: 1px solid #e6e6e8;
    background-color: white;
    padding-top: 5px;
}